<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbpvu.jec.bookstore.catalog.repository.mapper.ProductMapper">

    <insert id="save">
        INSERT INTO `orm_product` (`id`,
        						`name`,
                                `description`,
                                `product_category_id`,
                                 `image_id`,
                                `available_item_count`,
                                `created_at`,
                                `updated_at`)
        VALUES (#{product.id},
        		#{product.name},
                #{product.description},
                #{product.productCategoryId},
                #{product.imageId},
                #{product.availableItemCount},
                #{product.createdAt},
                #{product.updatedAt})
    </insert>

    <delete id="deleteById">
        DELETE
        FROM `orm_product`
        WHERE `id` = #{id}
    </delete>
</mapper>